﻿body {
    width: 100%;
    height: 100%;
}

/*Did this to test if I could add to the bootstrap class*/
.text-center{
    color: navy;
}

h1 {
    margin-bottom: 20px;
    margin-top: 20px;
}

#supForm{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
#supForm label{
    text-align:left;
}
.validation-summary-valid.alert.alert-danger {
    display: none;
}

.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

#validationError ul {
    list-style: none;
    text-align: center;
}

.btn {
    cursor:pointer;
}
