﻿@model Supervisor
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Supervisor Form</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
</head>
<body>
    <div asp-validation-summary="All" id="validationError" class="alert alert-danger">
    </div>

    <h1 class="text-center">Supervisor Form</h1>

    <form asp-action="SupervisorForm" method="post" id="supForm">
        <div class="form-group">
            <label asp-for="Id">Supervisor ID:</label>
            <input asp-for="Id" type="text" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Name">Supervisor Name:</label>
            <input asp-for="Name" type="text" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Subject">Supervisor Subject:</label>
            <input asp-for="Subject" type="text" class="form-control" />
        </div>
        <div class="text-center">
            <a asp-action="SupervisorInfo" class="btn btn-secondary">Back</a>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</body>
</html>
