﻿
@{
    Layout = null;
}

@model List<Supervisor>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SupervisorInfo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
</head>
<body class="text-center">
    <h1>Supervisors</h1>
    <div>
        <table class="table table-hover table-striped">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Subject</th>
            </tr>
            @foreach (Supervisor sup in Model)
            {
                @:<tr> <td>@sup.Id</td> <td>@sup.Name</td> <td>@sup.Subject</td></tr>
            }
        </table>
        <a class="btn btn-primary" asp-action="SupervisorForm">Add new</a>
    </div>
    <div style="margin-top:10px">
        <a class="btn btn-primary" asp-action="SupervisorTestList">Task 26 - List with null</a>
        <a class="btn btn-primary" asp-action="SupervisorTestListFirstLetter">Task 26 - List with supervisors starting with S</a>
    </div>
</body>
</html>
