﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <title>SupervisorTestListFirstLetter</title>
</head>
<body class="text-center">
    <div>
        <h1>Supervisors starting with the letter S</h1>
        <table class="table table-hover table-striped">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Subject</th>
            </tr>
            @foreach (Supervisor sup in Model)
            {
                @:<tr> <td>@sup.Id</td> <td>@sup.Name</td> <td>@sup.Subject</td></tr>
            }
        </table>
        <a class="btn btn-primary" asp-action="SupervisorInfo">Back</a>
    </div>

</body>
</html>
